/***** BASE STYLES *****/
body{
  font-family: 'Roboto', serif;
  font-size: 0;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

/***** GRID *****/
.full-width {
  width: 1450px;
  margin: 0 auto;
  padding: 0;
}

.half-width {
  width: 725px;
  float: left;
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

/***** HEADER *****/
header {
  height: 800px;
  background-image: url('../img/hero-image.png');
  background-size: cover;
  padding: 0;
  margin: 0;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 60px;
  color: #bdbf09;
  padding: 350px 0 0 325px;
}

header h2 {
  font-family: 'Roboto', serif;
  font-weight: normal;
  font-size: 42px;
  color: #095156;
  padding: 0 325px 0 325px;
}

nav {
  padding: 75px 25px;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  font-size: 36px;
  color: #087e8b;
  padding-right: 50px;
}

/***** PORTFOLIO *****/
#portfolio {
  height: 800px;
  background-color: #ffffff;
}

#portfolio h3 {
  color: #095156;
}

#portfolio h4 {
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: #095156;
  font-size: 24px;
  text-align: left;
}

#portfolio p {
  font-family: 'Roboto', serif;
  color: #095156;
  font-size: 20px;
  padding-right: 75px;
  text-align: left;
}

#portfolio img {
  margin-left: 75px;
}

#portfolio .project-2 {
  clear: both;
}

/***** ABOUT *****/
#about {
  height: 500px;
  background-color: #087e8b;
  clear: both;
}

#about h3 {
  color: #ffffff;
  padding-top: 20px;
}

#about h4 {
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-align: left;
}

#about p {
  font-family: 'Roboto', serif;
  color: #ffffff;
  font-size: 20px;
  padding-right: 75px;
  text-align: left;
}

#about img {
  margin: 0 0 0 75px;
  padding: 0;
}

/***** CONNECT *****/
#connect {
  height: 250px;
  background-color: #095156;
  clear: both;
}

#connect h3 {
  color: #ffffff;
  padding: 20px 0 0 0;
  margin: 0;
}

#connect h4 {
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: -25px;
  line-height: normal;
}

#connect p {
  font-family: 'Roboto', serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 5px;
  text-align: center;
}

#connect a {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  padding-left: 230px;
}
/***** FOOTER *****/

footer {
  height: 30px;
  clear: both;
  background: #095156;
  margin: 0;
  padding: 0;
}

footer p {
  font-family: 'Roboto', serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 10px;
  line-height: 5px;
  padding-top: 5px;
  text-align: center;
}
