/****** BASE STYLES *****/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'Roboto', serif;
  font-size: 18px;
}

/***** GRID *****/
.full-width{
  width: 1400px;
  margin: 0 auto;
}

.half-width{
  width:600px;
}

.third-width{
  width:466px;
}

/***** HEADER *****/
header {
  height: 700px;
  background: url('../img/hero-image.png');
  background-size: cover;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  font-size:60px;
  font-weight: 700px;
  color: #bdbf09;
  padding-left: 300px;
  padding-top: 350px;
  line-height: 40px;
  text-align: left;
}

header h2 {
  font-family:'Roboto', serif;
  font-size:42px;
  font-weight: normal;
  color:#095156;
  padding-left: 300px;
  padding-right: 275px;
  padding-bottom: 75px;
  line-height: 50px;
  text-align: left;
}

nav {
  text-align: center;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color:#087e8b;
  padding: 25px;
}
/***** PORTFOLIO *****/
#portfolio {
  height: 800px;
}

#portfolio h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700px;
  color: #095156;
  text-align: center;
}

#portfolio h4 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: #095156;
  margin-left: 50px;
}

#portfolio p {
  color: #095156;
  padding-left: 50px;
}

#portfolio img {
  margin-left: 50px;
}

#project-1 .half-width {
  height: 375px;
  float: left;
}

#project-2 .half-width {
  height: 375px;
  float: left;
}

/***** ABOUT *****/
#about {
  height: 500px;
  background-color: #087e8b;
  margin-bottom: 0;
}

#about h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

#about h4 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-left: 50px;
  padding-top: 0;
  padding-left: 50px;
  margin-top: 0;
}

#about p {
  color: #ffffff;
  text-align: justify;
  padding-left: 50px;
}

#about img {
  margin: 0 0 0 50px;
  padding: 0;
}

#about .half-width {
  float: left;
}

/***** CONNTECT *****/
#connect {
  height: 300px;
  background-color: #095156;
  margin-top: 0;
  padding-top: 0;
}

#connect h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

#connect h4 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

#connect p {
  color: #ffffff;
  text-align: center;
  line-height: 10px;
}

#connect a {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
}

#connect ul {
  list-style: none;
}

#connect ul li {
  display: inline-block;
}

#connect ul img {
  font-size: 32px;
  padding-right: 30px;
}

#connect .third-width {
  float: left;
  text-align: center;
}
